<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@TempData["Name"]</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Logout">登出</a>
    </li>
</ul>
