<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title> kNowWin技能交換</title>





	<!--plugins 左側導覽列的動畫效果-->
	<link href="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />

	<link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<!-- 上方留言與鈴鐺的插件 -->
	<link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />

	<!--plugins 左側導覽列的動畫效果-->
	<link href="~/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />

	<!-- 自己組的boostrap  -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<link rel="stylesheet" href="~/kNowWin.styles.css" asp-append-version="true" />

	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<!-- 自己組的FontAwesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- 整個網站的CSS樣式 -->
	<link href="~/assets/css/app.css" rel="stylesheet">
	<!-- icon 的樣式 -->
	<link href="~/assets/css/icons.css" rel="stylesheet">

	@await RenderSectionAsync("Styles", required: false)

</head>
<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				
					@*<i class="fa-brands fa-accusoft fa-beat-fade fa-2xl" style="color: #0e83dd;"></i>*@

					<img class="logo-icon" src="@Url.Content("~/images/kinetics.svg")" />
				
				<div>
					@*<h4 class="logo-text">KnowWin</h4>*@
				</div>
				<div class="toggle-icon ms-auto">
					<i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li class="menu-label">管理</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon">
							<i class="fa-solid fa-book fa-l"></i>
						</div>
						<div class="menu-title">課程</div>
					</a>
					<ul>
						<li>
							<a asp-controller="ClassManagement" asp-action="Index"><i class="fa-solid fa-swatchbook fa-sm"></i>課程管理</a>
						</li>
						<li>
							<a asp-controller="TagManagement" asp-action="Index"><i class="fa-solid fa-swatchbook fa-sm"></i>標籤管理</a>
						</li>
						<li>
							<a asp-controller="課程資訊" asp-action="Index"><i class="fa-solid fa-swatchbook fa-sm"></i>課程資訊</a>

						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon">

							<i class="fa-solid fa-user-gear fa-xs"></i>
						</div>
						<div class="menu-title">會員</div>
					</a>
					<ul>
						<li>
							<a asp-controller="Member" asp-action="Index"><i class="fa-solid fa-user-slash fa-sm"></i>會員狀態</a>
						</li>

						<li>
							<a asp-controller="AspNetUsers" asp-action="Index"><i class="fa-regular fa-address-book fa-lg"></i>會員列表</a>
						</li>

					</ul>
				</li>

				<li class="menu-label">WinCoin金流</li>
				<li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon">
							<i class="fa-solid fa-circle-dollar-to-slot fa-sm"></i>
						</div>
						<div class="menu-title">金流</div>
					</a>
					<ul>
						<li>
							<a asp-controller="Membertable" asp-action="Index"><i class="fa-solid fa-sack-dollar fa-sm"></i>WinCoin管理</a>
						</li>
						<li>
						</li>
					</ul>
				</li>
					@*				<li>
				<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
				<i class="fa-solid fa-paint-roller fa-xs"></i>
				</div>
				<div class="menu-title">等待加入功能</div>
				</a>
				<ul>
				<li>
				<a asp-controller="OpenCouses" asp-action="Index"><i class="fa-solid fa-person-digging fa-shake fa-sm"></i>課程List</a>
				</li>
				<li>
				<a asp-controller="OpenCouses" asp-action="Create"><i class="fa-solid fa-person-digging fa-shake fa-sm"></i>課程Create</a>
				</li>
				<li>
				<a asp-controller="OpenCoursesDetail" asp-action="Details"><i class="fa-solid fa-person-digging fa-shake fa-sm"></i>課程Details</a>
				</li>
				<li>
				<a asp-controller="OpenCoursesDetail" asp-action="Edit"><i class="fa-solid fa-person-digging fa-shake fa-sm"></i>課程Edit</a>
				</li>

				<li>
				<a asp-controller="OpenCoursesDetail" asp-action="Details"><i class="fa-solid fa-person-digging fa-shake fa-sm"></i>課程細節</a>
				</li>
				<li>
				<a asp-controller="OpenCoursesDetail" asp-action="Index"><i class="fa-solid fa-person-digging fa-shake fa-sm"></i>課程細節</a>
				</li>
				</ul>
				</li>
				*@
				<li class="menu-label">頁面</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon">
							<i class="bx bx-lock"></i>
						</div>
						<div class="menu-title">驗證</div>
					</a>
					<ul>

						<li>
							<a href="authentication-signup.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign Up</a>
						</li>
						<li>
							<a href="authentication-signin-with-header-footer.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign In with Header & Footer</a>
						</li>
						<li>
							<a href="authentication-signup-with-header-footer.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign Up with Header & Footer</a>
						</li>
						<li>
							<a href="authentication-forgot-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Forgot Password</a>
						</li>
						<li>
							<a href="authentication-reset-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Reset Password</a>
						</li>
						<li>
							<a href="authentication-lock-screen.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Lock Screen</a>
						</li>
					</ul>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu">
						<i class='bx bx-menu'></i>
					</div>
					<div class="search-bar flex-grow-1">
						@*<div class="position-relative search-bar-box">
							<input type="text" class="form-control search-control" placeholder="搜尋"> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
							<span class="position-absolute top-50 search-close translate-middle-y"></span>
						</div>*@
					</div>
					<div class="top-menu ms-auto">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item mobile-search-icon">
								<a class="nav-link" href="#">
									<i class='bx bx-search'></i>
								</a>
							</li>
							<li class="nav-item dropdown dropdown-large">

								<div class="dropdown-menu dropdown-menu-end">
									<div class="row row-cols-3 g-3 p-3">
									</div>
								</div>
							</li>
							@*<partial name="_LoginPartial" />*@
							<partial name="_KineticsLanguagePartial" />
							<li class="nav-item dropdown dropdown-large">

								<div class="dropdown-menu dropdown-menu-end">
									<div class="header-notifications-list">
									</div>
									<a href="javascript:;">
									</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large">

								<div class="dropdown-menu dropdown-menu-end">
									<div class="header-message-list">
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="user-box dropdown">
						@*<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="assets/images/avatars/avatar-2.png" class="user-img" alt="user avatar">
						<div class="user-info ps-3">
						<p class="user-name mb-0">KNownWin</p>
						<p class="designattion mb-0">系統管理員</p>
						</div>
						</a>*@
						@*<ul class="dropdown-menu dropdown-menu-end">
						<li>
						<a class="dropdown-item" href="javascript:;"><i class="bx bx-user"></i><span>個人檔案</span></a>
						</li>
						<li>
						<a class="dropdown-item" href="javascript:;"><i class="bx bx-cog"></i><span>設置</span></a>
						</li>
						<li>
						<div class="dropdown-divider mb-0"></div>
						</li>
						<li>
						<a class="dropdown-item" href="javascript:;"><i class='bx bx-log-out-circle'></i><span>登入</span></a>
						<partial name="_LoginPartial" />
						</li>
						</ul>*@
					</div>
				</nav>
			</div>
		</header>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<div class="row row-cols-12 row-cols-md-12 row-cols-xl-12">
					<div class="">
						<main role="main" class="">
							@RenderBody()
						</main>
					</div>
				</div>

			</div>
		</div>
		<!--end page wrapper --
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button-->
		<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->


		<footer class="page-footer">
			<p class="mb-0">KNownWin 技能交換 © 2023. All right reserved.</p>


		</footer>
	</div>
	<!--end wrapper-->
	<!--start switcher-->
	<!--end switcher-->
	<!-- Bootstrap JS -->
	<!-- 鈴鐺跟訊息的下拉選單 -->
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	<script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="~/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="~/assets/plugins/chartjs/js/Chart.min.js"></script>
	<script src="~/assets/plugins/chartjs/js/Chart.extension.js"></script>

	<script src="~/assets/js/index.js"></script>


	<!--app JS-->
	<!--左側選單動畫的js-->
	<script src="~/assets/js/app.js"></script>



	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)

</body>

</html>
